tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {
    background-color: #93e3e3;
}

th {
    margin: 0.5rem 1rem;
    text-align: start;
}

th,
td {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}